.button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: bold;
  border: none;
  border-radius: 20px;
  max-width: 100%;
  min-width: 150px;
  height: 40px;
  margin: 2px 0;
}

.button:hover {
  opacity: 80%;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button:active:after {
  opacity: 100%;
  transform: scale(1);
}

.primary {
  color: var(--white);
  background-color: var(--blue);
}

.secondary {
  color: var(--blue);
  background-color: var(--white);
}

.icon-button {
  min-width: auto;
  padding: 6px;
  display: flex;
  height: auto;
}

.button-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .button-desktop {
    display: none;
  }

  .button-mobile {
    display: flex;
  }

  .button:active {
    transform: scale(1.1);
    opacity: 75%;
  }
}
