.content-less {
  float: left;
  width: 10%;
  padding: 15px;
}

.content {
  float: left;
  width: 80%;
  padding: 1rem 1.5rem;
  display: grid;
  flex-direction: column;
}

.results {
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
}

.pets-directory {
  padding: 1rem 0rem;
  border-radius: 15px;
  height: 360px;
  display: flex;
}

.pets-directory-top {
  display: none;
}

.pets-directory-left {
  width: 60%;
  display: flex;
  float: left;
}

.pets-directory-right {
  color: var(--white);
  background-color: var(--blue);
  float: right;
  width: 40%;
  padding: 2.5rem 2rem;
  border-radius: 0px 15px 15px 0px;
}

.pets-directory-image {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.categories-row {
  display: flex;
  flex-direction: row;
  gap: 2%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .content-less {
    display: none;
  }

  .content {
    width: 100%;
    padding: 1rem var(--root-padding);
  }

  .results {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .pets-directory {
    margin: 0 calc(var(--root-padding) * -1);
    flex-direction: column;
    height: auto;
  }

  .pets-directory-top {
    display: flex;
    flex-direction: row;
    color: var(--white);
    background-color: var(--blue);
    padding: 0 var(--root-padding);
    justify-content: space-between;
  }

  .pets-directory-left {
    width: 100%;
  }
  .pets-directory-image {
    border-radius: 0px;
  }
  .pets-directory-right {
    display: none;
  }
}
