.category-card {
  width: 18.4%;
}

.category-icon {
  height: 50px;
}

.category-icon-box {
  background-color: var(--grey);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-icon-box:hover {
  opacity: 80%;
  transform: scale(1.05)
}

.category-icon-box:active {
  transform: scale(0.95)
}

.category-icon-box:active:after {
  opacity: 100%;
  transform: scale(1)
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .category-card {
    width: 100%;
  }
}
