/* App CSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,bold");

:root {
    --blue: #2B6DB1;
    --white: #FFFFFF;
    --yellow: #F8CF47;
    --dark-blue: #285DAB;
    --dark-grey: #666666;
    --grey: #DDDDDD;
    --light-grey: #F0F0F0;

    --root-padding: 30px;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

.logo {
    display: block;
}

.logo-mobile {
    display: none;
}

h1 {
    font-size: 33px;
    font-family: "Open Sans";
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-family: "Open Sans";
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-family: "Open Sans";
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 8px 0;
}

p {
    margin-top: 0px;
    margin-bottom: 2px;
}

body {
    font-size: 16px;
    font-family: "Open Sans";
}

.navbar {
    padding: 1rem 3rem;
    background-color: var(--yellow);
}

.footer {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    height: 50px;
}

@media only screen and (max-width: 480px) {

    /* For mobile phones: */
    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
    }

    .navbar {
        padding: 2rem var(--root-padding) 0 var(--root-padding);
        background-color: var(--white);
    }
}