.profile-card {
  width: 31.33%;
  margin-bottom: 1rem;
}

.profile-card:nth-child(3n) {
  padding-right: 0rem;
}

.pet-image {
  width: 100%;
  border-radius: 15px;
  padding-top: 75%;
  background-size: cover;
  background-position: center;
  /* height: 15vw; */
}

.pet-image:hover {
  opacity: 80%;
  transform: scale(1.05)
}

.pet-image:active {
  transform: scale(0.95)
}

.pet-image:active:after {
  opacity: 100%;
  transform: scale(1)
}

@media only screen and (max-width: 480px) {
  .profile-card {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      column-gap: 20px;
  }

  .profile-card button:last-child {
    margin-left: auto;
  }

  .pet-image {
    width: 45%;
    /* height: 25vw; */
    padding-top: 35%;
  }
}
