.profile-card {
  width: 31.33%;
  float: left;
  margin-bottom: 1rem;
}

.profile-card:nth-child(3n) {
  padding-right: 0rem;
}

.pet-image {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  height: 250px;
}

.pet-image:hover {
  opacity: 80%;
  transform: scale(1.05)
}

.pet-image:active {
  transform: scale(0.95)
}

.pet-image:active:after {
  opacity: 100%;
  transform: scale(1)
}

@media only screen and (max-width: 480px) {
  .profile-card {
      width: 100%;
      padding: 0;
  }
}
